.unpressed-button {
  position: relative;
  background: transparent;
  width: 92px;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  letter-spacing: 1px !important;
  margin: 20px;
  color: black !important;
  cursor: pointer;
}
#navbar-main {
  height: 85px;
  background-color: transparent;
}

.unpressed-button:hover {
  background-color: #f7f7f7;
  color: black !important;

  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}
.pressed-button {
  text-align: center;
  width: 92px;
  margin: 20px;
  cursor: pointer;
  letter-spacing: 1px !important;
  border: none;
  font-size: 14px;
  border-radius: 6px;
  font-weight: 500;
  background: #f7f7f7;
  box-shadow: inset 3px 3px 5px #ceced1, inset -3px -3px 7px #ffffff;
}

.ripsey-blue {
  color: #232263;
}
.ripsey-red {
  color: #891619;
}

.fw-6 {
  font-weight: 600;
}
.pcos-shadow {
  box-shadow: -8px -6px 10px #e3e3e3, 1px 5px 8px #ffffff;
}

.app-unpressed-button {
  position: relative;
  box-shadow: 6px 4px 10px #7f1417, 0px 0px 0px #93181b;
  background: #891619;

  text-align: center;
  padding: 5%;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  letter-spacing: 0.8px;
  margin: 20px;
  color: white !important;
  cursor: pointer;
}
.app-unpressed-button:hover {
  background-color: #f7f7f7;
  color: black !important;

  box-shadow: inset 3px 9px 22px rgb(255 255 255),
    inset 3px 4px 8px rgb(121 130 160 / 75%),
    inset -8px 4px 8px rgb(121 130 160 / 75%);
}
.custom-control-label:before {
  background-color: #232263;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #232263;
}
.ios-play-icons {
  position: relative;
  box-shadow: 1px 1px 4px #808080, 2px 0px 2px #808080;
  margin: 15px;
  border-radius: 6px;
  width: 120px !important;
  cursor: pointer;
}
.border-shadow-download-icons {
  box-shadow: 4px 4px 13px #808080;
  border-radius: 6px;
}
#appstore-icon {
  display: none;
}
#playstore-icon {
  display: none;
}

.text-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #232263;
}
.text-normal {
  font-size: 1.4rem;
  font-weight: 400;
  color: #4e4eaa !important;
}

.border-shadow-cards {
  box-shadow: -4px -6px 6px #ffffff, 4px 4px 10px #ceced1;
  border-radius: 8px;
}
.dropdown-menu {
  border: none;
  box-shadow: -4px -6px 6px #ffffff, 4px 4px 10px #ceced1;
  background-color:#f7f7f7;
  color: #232263;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .wavecontainer {
    margin-top: 0%;
    background: url(./images/wave_mobile_tablet.png) no-repeat;
    background-size: cover;
  }

  #your-buddy-card {
    margin-top: 20% !important;
  }

  #bp_graphic {
    margin-top: 0% !important;
  }
  #get-the-app {
    margin: unset;
  }
  #navbar-main {
    height: unset !important;
    /* background-color: #f4f4f4; */
  }

  .text-heading {
    font-size: 1.6rem;
    font-weight: 600;
    color: #232263;
  }
  .text-normal {
    font-size: 1.3rem;
    font-weight: 400;
    color: #4e4eaa !important;
  }
  #what-is-bp {
    text-align: justify;
  }

  #lottiefly-1-in-8 {
    margin-top: 5%;
    text-align: center !important;

    width: 100% !important;
  }

  #lottiefly-1-in-8 img {
    width: 35%;
  }
  #text-silent-killer {
    margin: 0 8% !important;
    text-align: justify;
  }

  #indians-have-hyper {
    text-align: center;
  }
  #bullet-bp {
    text-align: end;
  }
  #bullet-bp > img {
    width: 25px !important;
  }
  .border-shadow-cards {
    padding: unset !important;
    padding: 3% !important;
    /* border: 1px solid black; */
  }
  #text-bullet-bp {
    text-align: justify !important;
  }
  #stroke-heartfail {
    height: 300px !important;
    width: 100% !important;
  }
}
@media screen and (min-width: 577px) and (max-width: 780px) {
  .wavecontainer {
    margin-top: 0%;
    background: url(./images/wave_mobile_tablet.png) no-repeat;
    background-size: cover;
  }

  #your-buddy-card {
    margin-top: 25% !important;
  }
  #get-the-app {
    margin: 0px auto;
  }
  #navbar-main {
    height: unset !important;
    /* background-color: #f4f4f4; */
  }

  .text-heading {
    font-size: 1.6rem;
    font-weight: 600;
    color: #232263;
  }
  .text-normal {
    font-size: 1.3rem;
    font-weight: 400;
    color: #4e4eaa !important;
  }
  #what-is-bp {
    text-align: justify;
  }

  #lottiefly-1-in-8 {
    margin-top: 5%;
    text-align: center !important;

    width: 100% !important;
  }

  #lottiefly-1-in-8 img {
    width: 35%;
  }
  #text-silent-killer {
    margin: 0 8% !important;
    text-align: justify;
  }

  #indians-have-hyper {
    text-align: center;
  }
  #bullet-bp {
    text-align: end;
  }
  #bullet-bp > img {
    width: 25px !important;
  }
  .border-shadow-cards {
    padding: unset !important;
    padding: 5% !important;
    /* border: 1px solid black; */
  }
  #text-bullet-bp {
    text-align: justify !important;
  }
  #stroke-heartfail {
    height: unset !important;
    width: 100% !important;
  }
}
@media screen and (max-width: 576px) {
  .wavecontainer {
    margin-top: 0%;
    background: url(./images/wave_mobile_tablet.png) no-repeat;
    background-size: cover;
  }
  #bp_graphic {
    margin-top: 50px;
  }
  #your-buddy-card {
    margin-top: 30% !important;
  }
  #get-the-app {
    margin: 0px auto;
  }
  #navbar-main {
    height: unset !important;
 
  }

  .text-heading {
    font-size: 1.5rem;
    font-weight: 600;
    color: #232263;
  }
  .text-normal {
    font-size: 1.2rem;
    font-weight: 400;
    color: #4e4eaa !important;
  }
  #what-is-bp {
    text-align: justify;
  }

  #lottiefly-1-in-8 {
    margin-top: 5%;
    text-align: center;
    width: 100% !important;
  }
  #lottiefly-1-in-8 img {
    width: 50%;
  }
  #text-silent-killer {
    margin: 0 4% !important;
    text-align: justify;
  }

  #indians-have-hyper {
    text-align: center;
  }
  #bullet-bp {
    text-align: end;
  }
  #bullet-bp > img {
    width: 25px !important;
  }
  .border-shadow-cards {
    padding: unset !important;
    padding: 4% !important;
    /* border: 1px solid black; */
  }
  #text-bullet-bp {
    text-align: justify !important;
  }
  #stroke-heartfail {
    height: 200px !important;
    width: 100% !important;
  }
}
@media screen and (max-width: 991px) {
  .unpressed-button {
    width: unset;
    font-size: 15px;
    margin: 5px;
  }

  .pressed-button {
    width: unset;
    margin: 5px;
    font-size: 15px;
    border-radius: 6px;
  }

  .ios-play-icons {
    margin: 5px;
  }
}

@media screen and (max-width: 480px) {
  .unpressed-button {
    width: unset;
    font-size: 15px;
    margin: 5px;
  }

  .pressed-button {
    width: unset;
    margin: 5px;
    font-size: 15px;
    border-radius: 6px;
  }

  .ios-play-icons {
    margin: 5px;
  }
}